<div class="bg-[rgb(186,205,202)] min-h-[768px] flex items-center py-8">
  <div class="container mx-auto flex flex-col md:flex-row items-center justify-between gap-8 md:gap-12 px-4 md:px-6 max-w-6xl">
    <div class="w-full md:w-1/2 md:pr-12">
      <h2 class="text-3xl md:text-4xl font-crimson mb-6 md:mb-8">Sobre mi</h2>
      <div class="space-y-4 md:space-y-6 font-lexend text-base md:text-lg">
        <p>¡Hola! Soy Carolina y soy psicóloga.</p>
        <p class="text-justify">Podría contarte que me encanta viajar, el arte, la música, que hace un tiempo escribí un libro, también que soy un poco profe y que tengo una gata, pero eso ya lo irás descubriendo.</p>
        <p class="text-justify">Por ahora, lo que me parece importante que sepas es que en nuestras sesiones mi objetivo será crear junt&#64;s un espacio seguro y sin juicios donde trabajar en el cambio que buscas.</p>
        <p class="text-justify">¿Pero por qué trabajar conmigo? Déjame contarte qué puedo ofrecerte:</p>
      </div>
    </div>
    <div class="hidden sm:block w-full md:w-1/2">
      <img src="/foto-tumbada.png" alt="Carolina tumbada" class="w-full h-auto rounded-lg">
    </div>
  </div>
</div>