<div class="bg-[#005446] bg-[url(/fondo-hero.jpeg)] bg-blend-multiply bg-cover bg-center min-h-[50vh] flex items-center justify-center relative">   
  <div class="container mx-auto flex items-center justify-center px-4">
    <div class="hero-content relative w-full flex items-center gap-0">
      <div class="relative hidden md:flex flex-col items-end justify-center overflow-hidden h-[50vh] md:w-[45%]">
        <img src="/principal-sumada.png" alt="Foto de Carolina con plantas" class="h-[105%] w-auto object-cover object-right">
      </div>
      <div class="text-left relative z-10 w-full md:w-[55%] flex flex-row items-start justify-start gap-1 pl-1">
        <img src="/logo-m.png" alt="Logo de la empresa" class="w-16 h-16 md:w-24 md:h-24">
        <div class="flex-grow">
          <p class="text-4xl md:text-[70px] font-crimson flex-grow">Terapia con Carolina</p>
          <p class="text-white text-base md:text-lg font-lexend">PSICÓLOGA</p>
          <a href="https://www.doctoralia.es/carolina-fernandez-bautista/psicologo/madrid" target="_blank" rel="noopener noreferrer">
            <button class="mt-4 px-4 py-2 bg-white text-[#005446] rounded-full hover:bg-gray-100 transition-colors duration-200">RESERVA TU SESIÓN</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
